# Python venv
.venv/
.venv312/
venv/
ENV/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VSCode / PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build outputs
build/
dist/
*.egg-info/
